/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
  text-align: center;
  }



#section1 {
  background-color: #dff811;
  width: 80%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  color: black;
  border: 1px solid black;
}

#section2 {
  background-color: #dff811;
  width: 80%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  color: black;
  border: 1px solid black;
}

#section3 {
  background-color: #dff811;
  width: 80%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  color: black;
  border: 1px solid black;
}


#tittle1 {
  border: absolute;
  background-color: #f86611;
  position: static;
  text-align: center;
  font-family: cursive;
  border: 1px solid black;
  margin-left: 80%;
}

#tittle2 {
  border: absolute;
  background-color: #f86611;
  position: static;
  text-align: center;
  font-family: cursive;
  border: 1px solid black;
  margin-left: 80%;
}

#tittle3 {
    border: absolute;
  background-color: #f86611;
  position: static;
  text-align: center;
  font-family: cursive;
  border: 1px solid black;
  margin-left: 80%;
}

#content {
 font-family: Helvetica;
 margin: 10px; 
}


/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
  }
  
  .col-lg-4 {
    width: 33.33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
 .col-md-4 {
    float: left;
  }
  
  .col-md-4 {
    width: 50%;
  }
}
  
  /********** Small devices only **********/
@media (max-width: 767px) {
  .col-sm-4{
    float: left;
  }
  
  .col-sm-4 {
    width: 100%;
  }
}
